@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FCFFFD;
  --contrast-color: #252627;
  --accent-red-color: #9C1C2D;
  --accent-blue-color: #4F759B;
  --accent-yellow-color: #FFCC00;

  --background: var(--primary-color);
  --foreground: var(--contrast-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #252627;
    --contrast-color: #FCFFFD;
    --accent-red-color: #9C1C2D;
    --accent-blue-color: #4F759B;
    --accent-yellow-color: #FFCC00;

    --background: var(--primary-color);
    --foreground: var(--contrast-color);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Accents */
.blue-emph {
  color: var(--accent-blue-color);
}

.red-emph {
  color: var(--accent-red-color);
}

.yellow-emph {
  color: var(--accent-yellow-color);
}

/* Effects */
.appear {
  color: var(--foreground);
  background: var(--background);
}

::selection {
  background-color: var(--accent-yellow-color);
  color: #252627;
}
