@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #FCFFFD;
  --contrast-color: #252627;
  --accent-red-color: #904E55;
  --accent-blue-color: #4F759B;

  --background: var(--primary-color);
  --foreground: var(--contrast-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #252627;
    --contrast-color: #FCFFFD;
    --accent-red-color: #904E55;
    --accent-blue-color: #4F759B;

    --background: var(--primary-color);
    --foreground: var(--contrast-color);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.list-markers {
  color: var(--accent-blue-color); /* Example: Adjust the color to match your needs */
}
